#principal
{
    width: 80%;
    margin: auto;
}




.navbar-brand img
{
width: 50px;
height: 50px;
border-radius: 100%;
}





.navbar-brand 
{
    color: white;
    -webkit-text-stroke: 1px rgb(255, 7, 99, 1);
    font-family: Agbalumo;
    font-size:xx-large;
}




.carousel-item img
{
   height: 750px;
}




.carousel-item
{
    -webkit-text-stroke: 0.5px rgb(255, 7, 99, 1);
}



.alert 
{
    text-align: center;
}
