#container
{
    background-color: rgb(255, 7, 99, 1);
    color: white;
    margin: auto;
    height: 350px;
}
#container img
{
    position: relative;
   top: 10px;
}


h1{
    position: relative;
    top: 100px;
    text-align: center;
    margin: auto;
    font-size: 75px;
}


.card-group img{
width: 125px;
height: 125px;
}

.textinho{
    font-style: oblique;
    font-size: large;
    font-weight: 700;
}


    
    
    
